<!Doctype html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th=""
    layout:decorate="~{layouts/layout :: layout(vCenter='true')}">

<body>
<div layout:fragment="content">
<!--    <div class="component-list">-->
<!--        <li>General-->
<!--            <ul>Button</ul>-->
<!--            <ul>Icon</ul>-->
<!--            <ul>Typography</ul>-->
<!--        </li>-->

<!--        <li>Layout-->
<!--            <ul>Divider</ul>-->
<!--            <ul>Grid</ul>-->
<!--            <ul>Layout</ul>-->
<!--            <ul>Space</ul>-->
<!--        </li>-->

<!--        <li>-->
<!--            <ul>Navigation Affix</ul>-->
<!--            <ul>Breadcrumb</ul>-->
<!--            <ul>Dropdown</ul>-->
<!--            <ul>Menu</ul>-->
<!--            <ul>PageHeader</ul>-->
<!--            <ul>Pagination</ul>-->
<!--            <ul>Steps</ul>-->
<!--        </li>-->

<!--        <li>-->
<!--            Data Entry-->
<!--            <ul>AutoComplete Cascader</ul>-->
<!--            <ul>Checkbox</ul>-->
<!--            <ul>DatePicker</ul>-->
<!--            <ul>Form</ul>-->
<!--            <ul>Input</ul>-->
<!--            <ul>InputNumber</ul>-->
<!--            <ul>Mentions</ul>-->
<!--            <ul>Radio</ul>-->
<!--            <ul>Rate</ul>-->
<!--            <ul>Select</ul>-->
<!--            <ul>Slider</ul>-->
<!--            <ul>Switch</ul>-->
<!--            <ul>TimePicker</ul>-->
<!--            <ul>Transfer</ul>-->
<!--            <ul>TreeSelect</ul>-->
<!--            <ul>Upload</ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            Data Display-->
<!--            <ul>Avatar</ul>-->
<!--            <ul>Badge</ul>-->
<!--            <ul>Calendar</ul>-->
<!--            <ul>Card</ul>-->
<!--            <ul>Carousel</ul>-->
<!--            <ul>Collapse</ul>-->
<!--            <ul>Comment</ul>-->
<!--            <ul>Descriptions</ul>-->
<!--            <ul>Empty</ul>-->
<!--            <ul>Image</ul>-->
<!--            <ul>List</ul>-->
<!--            <ul>Popover</ul>-->
<!--            <ul>Statistic</ul>-->
<!--            <ul>Table</ul>-->
<!--            <ul>Tabs</ul>-->
<!--            <ul>Tag</ul>-->
<!--            <ul>Timeline</ul>-->
<!--            <ul>Tooltip</ul>-->
<!--            <ul>Tree</ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            Feedback-->
<!--            <ul>Alert</ul>-->
<!--            <ul>Drawer</ul>-->
<!--            <ul>Message</ul>-->
<!--            <ul>Modal</ul>-->
<!--            <ul>Notification</ul>-->
<!--            <ul>Popconfirm</ul>-->
<!--            <ul>Progress</ul>-->
<!--            <ul>Result</ul>-->
<!--            <ul>Skeleton</ul>-->
<!--            <ul>Spin</ul>-->

<!--        </li>-->
<!--        <li>-->
<!--            Other-->
<!--            <ul>Anchor</ul>-->
<!--            <ul>BackTop</ul>-->
<!--            <ul>ConfigProvider</ul>-->
<!--        </li>-->
<!--        <br>-->
<!--    </div>-->
</div>
<th:block layout:fragment="scripts"></th:block>
</body>
</html>
